.title-bar {
    background-color:skyblue;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    font-size: x-large;
}

#title-bar-menu {
    background-color:skyblue;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
    padding-top: 2vh;
}

.menu-bar {
    background-color:deepskyblue;
    padding-left: 2vw;
    display:flex;
    font-size: x-large;
}


.menu-item {
    margin-left: 25px;
}

.content {
    background-color: lightskyblue;
    display:flex;
    font-size:x-large;
}

.nav {
    background-color:lightskyblue;
    width:20vw;
    height:80vh;
    padding-left:2vw;
}

.main {
    color:black;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-around;
    font-size:xx-large;

}